body {
  font-family: "Roboto", sans-serif;
  background: url("img/background.png") no-repeat fixed center;
  background-size: cover;
}

.header {
  padding-top: 50px;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logoLink {
  background: url(img/logo.png);
  width: 53px;
  height: 47px;
  display: flex;
  align-items: center;
}
a.logoLink:hover {
  background: url(img/logo2.png);
}

.logoLink p:hover {
  color: #f26522;
}

.logoLink p {
  margin-top: 5px;
  padding-left: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
}
.generalWord {
  font-size: 29px;
  line-height: 29px;
}
.contacts {
  color: white;
}
.contacts p:hover {
  color: #f26522;
}
.contacts .number {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.mainContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 20px;
}

.toursDetails {
  background-color: #f26522;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px 16px 12px 16px;
  position: absolute;
  width: calc(100% - 32px);
}

.tourPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.from {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: white;
  padding-bottom: 10px;
}

.price {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: white;
}

.details {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: white;
}

.details::after{
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
}

.card {
  padding-top: 20px;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

a.card:hover .toursDetails{
  bottom: 40px;
}

a.card:hover{
  color: #f26522;
}

img{
  height: 222px;
  width: 305px;
}

.tourName {
  padding-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
